In [1]:
#this is week 3 for String: these are sequence of characters , and can be created by enclosing characters
#in single or double quotes, like the one below, representing name of a location
location_name = "Mount Everest"

In [4]:
#one can concatenate (join strings, like listing in R) using the R operator, so long as same data type
location_name_full = location_name + ", Nepal" + " " + str(10000)
print(location_name_full)

Mount Everest, Nepal 10000

In [3]:
type(location_name_full)

str

In [5]:
separator = "--" * 20

In [6]:
print(separator)

----------------------------------------

In [7]:
#constructing a basic SQL query string to select data from a geospatial dbase
table_name = "locations"
conditions = "country = 'Nepal'"
sql_query = f"SELECT * FROM {table_name} WHERE {conditions}"
print(sql_query)

SELECT * FROM locations WHERE country = 'Nepal'

In [10]:
#section on String Methods used in GEOSPATIAL data; PYTHON has built-in methods to manipulate strings
#strip() - > remove leading and trailing whitespace (can do lstrip() or rstrip())
#replace() - > replace  a substring with another substring
#split () - > split a string into a list of substring based on a delimiter
#join() - > Join a list of strings into a single string with a specified delimiter
location_name_upper = location_name.upper()

In [12]:
print(location_name_upper)

MOUNT EVEREST

In [13]:
#cleaning by strip
new_location_name = "    Tibet    "
print(new_location_name)

    Tibet

In [14]:
new_location_name_clean = new_location_name.strip()
print(new_location_name_clean)

Tibet

In [15]:
location_name.strip().replace("Mount Ever", "Eagle's N")

"Eagle's Nest"

In [16]:
#replace example again
location_name_replaced = location_name.replace("Everest", "K2")
print(location_name_replaced)  # Replace 'Everest' with 'K2'

Mount K2

In [19]:
American_location = "Knoxville, Knox County, Tenneseee, United States"

In [21]:
print(American_location)

Knoxville, Knox County, Tenneseee, United States

In [25]:
American_location_clean = American_location.strip().replace("Knoxville", "Nashville").replace("Knox", "Davidson")

In [26]:
#another example
American_location_clean = American_location.strip().replace("Knoxville", "Nashville").replace("Knox", "Davidson")
print(American_location_clean)

Nashville, Davidson County, Tenneseee, United States

In [ ]:
#suppose one have a list of country names, but inconsistent formatting, and want to normalize them:

In [27]:
latitude = 27.9881
longitude = 86.9250
formatted_coordinates = "Coordinates: ({}, {})".format(latitude, longitude)
print(formatted_coordinates)

Coordinates: (27.9881, 86.925)