In [2]:
#same week but for tuples for Data Structures section
#how you manipulate/store/ acccess geospatial data and choose appropriate structure for geospatial tasks
#tuple = once created, one cannot change; can store strings, booleans, numbers

point =(
    35.6895,
    1369.6917
) #this represents the geographic point

In [3]:
point

(35.6895, 1369.6917)

In [3]:
latitude = point[0]
longitude = point [1]
print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 35.6895, Longitude: 1369.6917

In [4]:
print(point)

(35.6895, 1369.6917)

In [5]:
cities = ("Knoxville", "New York")

In [6]:
print(cities)

('Knoxville', 'New York')

In [7]:
cities[1]

'New York'

In [8]:
cities[1:]

('New York',)

In [9]:
cities = (("Knoxville", "New York"), ("Nashville", "Chicago"))

In [10]:
cities[1:]

(('Nashville', 'Chicago'),)

In [11]:
cities[1][1]

'Chicago'

In [12]:
#just practice with subsetting lists
cities[-2]

('Knoxville', 'New York')

In [12]:
cities[1::]

(('Nashville', 'Chicago'),)

In [13]:
cities[:0]

()

In [14]:
cities[0][1]

'New York'

In [15]:
cities[-2][-1]

'New York'

In [13]:
#list are mutable, able to change
#lists of tuples representing a path

path = [
    (35.6895, 139.6917),
    (34.0522, -118.2437),
    (51.5074, -0.1278),
]

In [14]:
#to add another city to the defined path above, use path dot append

path.append((48.8566, 2.3522))
print("Updated path:", path)

Updated path: [(35.6895, 139.6917), (34.0522, -118.2437), (51.5074, -0.1278), (48.8566, 2.3522)]

In [16]:
print(path)

[(35.6895, 139.6917), (34.0522, -118.2437), (51.5074, -0.1278), (48.8566, 2.3522)]

In [17]:
path[:2]

[(35.6895, 139.6917), (34.0522, -118.2437)]

In [18]:
path[:]

[(35.6895, 139.6917),
 (34.0522, -118.2437),
 (51.5074, -0.1278),
 (48.8566, 2.3522)]

In [19]:
#lists allow one to perform various opers: slicing, let one access a subset of the list
sub_path = path[:2]
print("Subset-path:", sub_path)

Subset-path: [(35.6895, 139.6917), (34.0522, -118.2437)]

In [22]:
#next section are for set: these are unordered collections
#of unique elements, useful when one needs stored collection of items,no duplicates
#example below are set of unique geographic regions visited on surveys
regions = ["North America", "Europe", "Asia"] #Set of regions
regions = set(regions)

In [23]:
print(regions)

{'Asia', 'Europe', 'North America'}

In [24]:
regions.add("Africa")
print("Update regions:", regions)

Update regions: {'Asia', 'Europe', 'Africa', 'North America'}

In [25]:
regions.add("Europe")  # Attempting to add a duplicate element
print("Regions after attempting to add duplicate:", regions)

Regions after attempting to add duplicate: {'Asia', 'Europe', 'Africa', 'North America'}

In [26]:
regions[-2]

TypeError: 'set' object is not subscriptable

In [27]:
len(regions)

4

In [28]:
type(regions)

set

In [29]:
#Dictionaries, has key-values, with each key being unique, useful for storing data 
#associated with specific identifiers
city_attributes = {
    "name": "Tokyo",
    "population": 13929286,
    "coordinates": (35.6895, 139.6917),
}

In [30]:
#then from here, can access values associated with specific keys
city_name = city_attributes["name"]
city_population = city_attributes["population"]
print(f"City: {city_name} Population: {city_population}")

City: Tokyo Population: 13929286

In [32]:
city_attributes["average_weather"] = "cool"
print("Updated city_attributes:", city_attributes)

Updated city_attributes: {'name': 'Tokyo', 'population': 13929286, 'coordinates': (35.6895, 139.6917), 'average_weather': 'cool'}

In [33]:
whos

Variable          Type     Data/Info
------------------------------------
cities            tuple    n=2
city_attributes   dict     n=4
city_name         str      Tokyo
city_population   int      13929286
path              list     n=4
point             tuple    n=2
regions           set      {'Asia', 'Europe', 'Africa', 'North America'}
sub_path          list     n=2

In [34]:
type(city_attributes)

dict

In [ ]:
#this is where you will do the exercise for week 2 on tuples: 
#create a dictionary to store attributes of a geographic feature (river or mountain("Long's Peak"), and include keys for the name,
#length, and location of the feature. Then, add an additional attribute (like source of river of height of mountain) then print

In [8]:
#creating dictionary with mountain
mountain_attributes = {
    "mountain": "Long's Peak",
    "Location": "Rocky Mountain National Park",
    "Coordinates": (40.2549, 105.6162)
}

In [9]:
print(mountain_attributes)

{'mountain': "Long's Peak", 'Location': 'Rocky Mountain National Park', 'Coordinates': (40.2549, 105.6162)}

In [10]:
#this is where you can create a sentence where defined attributes are inferred
mountain_name = mountain_attributes["mountain"]
mountain_loc = mountain_attributes["Location"]
print(f"The Fourteener called {mountain_name} is inside {mountain_loc}")

The Fourteener called Long's Peak is inside Rocky Mountain National Park

In [ ]:
#this is to add another attribute, for this one add height

In [11]:
mountain_attributes["total_height_in_ft"] = 14,259
print("Updated mountain_attributes", mountain_attributes)

Updated mountain_attributes {'mountain': "Long's Peak", 'Location': 'Rocky Mountain National Park', 'Coordinates': (40.2549, 105.6162), 'total_height_in_ft': (14, 259)}

In [13]:
mountain_attributes["mountain"] = "Mount Elbert"
print(mountain_attributes)

{'mountain': 'Mount Elbert', 'Location': 'Rocky Mountain National Park', 'Coordinates': (40.2549, 105.6162), 'total_height_in_ft': (14, 259)}

In [14]:
mountain_attributes["mountain"] = mountain_attributes["mountain"].upper()

In [15]:
print(mountain_attributes)

{'mountain': 'MOUNT ELBERT', 'Location': 'Rocky Mountain National Park', 'Coordinates': (40.2549, 105.6162), 'total_height_in_ft': (14, 259)}

In [16]:
mountain_attributes["mountain"] = mountain_attributes["mountain"].lower()
print(mountain_attributes)

{'mountain': 'mount elbert', 'Location': 'Rocky Mountain National Park', 'Coordinates': (40.2549, 105.6162), 'total_height_in_ft': (14, 259)}