In [2]:
num_points = 120

In [3]:
print(num_points)

120

In [4]:
num_points

120

In [5]:
print(num_points)

120

In [6]:
type(num_points)

int

In [7]:
latitude = 35.6895
longitude = 139.6917

In [8]:
print(latitude)
print(longitude)

35.6895
139.6917

In [10]:
type(latitude)
type(longitude)

float

In [11]:
#this is the section for Strings
coordinate_system = "WGS 84" #Represents a commonly used coordinate system

In [12]:
print(coordinate_system)

WGS 84

In [13]:
#this is Boolean, represents one of two values: TRUE or FALSE
is_georeferenced = True #Represents whether a dataset is georeferenced or not

In [14]:
#this is lists
coordinates = [(latitude), (longitude)]

In [15]:
print(coordinates)

[35.6895, 139.6917]

In [16]:
#for Dictionaries, are collection of key-value pairs, seperated by comma, then value
feature_attributes = {
        "name": "Mount Fuji",
        "height_meters": "3776",
        "type": "Stratovolcano",
        "location": [35.3606, 138.7274],
    
}

In [17]:
print(feature_attributes)

{'name': 'Mount Fuji', 'height_meters': '3776', 'type': 'Stratovolcano', 'location': [35.3606, 138.7274]}

In [18]:
feature_attributes["height_meters"] = 3500

In [19]:
print(feature_attributes)

{'name': 'Mount Fuji', 'height_meters': 3500, 'type': 'Stratovolcano', 'location': [35.3606, 138.7274]}

In [20]:
#for Escape characters,\n signifies new line
print("Hello World\nThis is a Python script")

Hello World
This is a Python script

In [21]:
#for \t, inserts a tab in a string
print("This is the firstline\n\tThis is the second line")

This is the firstline
	This is the second line

In [22]:
#for single quotes, in a string, one can wrap the string in double quotes, or alternate, use the escape character \'
print("I say: \"Hello World\"")

I say: "Hello World"

In [23]:
num_features = 10

In [24]:
print(num_features)

10

In [25]:
num_features =+ 20

In [26]:
print(num_features)

20

In [27]:
num_features += 10
print("Update number of features:", num_features)

Update number of features: 30

In [28]:
num_features -= 20
print("Update number of features:", num_features)

Update number of features: 10

In [29]:
import math

latitude_radians = math.radians(latitude)
print("Latitude in radians:", latitude_radians)

Latitude in radians: 0.6228992833905163

In [30]:
coordinates

[35.6895, 139.6917]

In [31]:
#to add new coordinates to the list
coordinates
coordinates.append(34.0522) #Lat for L.A.
coordinates.append(-118.2437) #Long for L.A.
print("Updated coordinates:", coordinates)

Updated coordinates: [35.6895, 139.6917, 34.0522, -118.2437]

In [32]:
#this is how to access elements in Dictionary, called 'F stream'
mount_fuji_name = feature_attributes["name"]
mount_fuji_height = feature_attributes["height_meters"]
print(f"{mount_fuji_name} is {mount_fuji_height} high.")

Mount Fuji is 3500 high.

In [33]:
print("name", "heigh_meters")

name heigh_meters

In [37]:
#example for placeholder
first_name = "Michael"
last_name = "Scott"

In [38]:
print(f"{first_name} last name is {last_name}")

Michael last name is Scott

In [39]:
#this section for application on GIS
points = [
    [35.6895, 139.6917],  # Tokyo
    [34.0522, -118.2437],  # Los Angeles
    [51.5074, -0.1278],  # London
    [48.8566, 2.3522],  # Paris
]

In [41]:
#calculate centroid # centroid is the geometric center of a shape, #
# essentially the average position of all points within that shape
centroid_lat = sum([point[0] for point in points]) / len(points)
centroid_lon = sum([point[1] for point in points]) / len(points)
centroid = [centroid_lat, centroid_lon]
print("Centroid of the points is at:", centroid)

Centroid of the points is at: [42.526425, 5.918099999999998]

In [46]:
#my own example for VariablesEx on tuples to calculate centroid
points2 = [
    [35.6895, 139.6917],  # Tokyo
    [34.0522, -118.2437],  # Los Angeles
    [14.5982, 120.9828],  # Manila
    [55.9486, -3.2006], #Ediburgh
]

In [47]:
centroid_lat = sum([point[0] for point in points2]) / len(points2)
centroid_lon = sum([point[1] for point in points2]) / len(points2)
centroid = [centroid_lat, centroid_lon]
print("Centroid of the points is at:", centroid)

Centroid of the points is at: [35.072125, 34.80754999999999]