In [1]:
print("hello world")

hello world

In [2]:
temp = 63

In [3]:
print(temp)

63

In [4]:
temp

63

In [5]:
day = 'Friday'

In [6]:
print(day)

Friday

In [7]:
day

'Friday'

In [8]:
print(temp)
print(day)

63
Friday

In [9]:
type(temp)

int

In [10]:
type(day)

str

In [11]:
humidity = .6

In [12]:
type(humidity)

float

In [16]:
#create variable for day_2 (Monday), temp_2 (70) humidity_2 (.7)
#list their types
day_2= 'Monday'

In [17]:
print(day_2)

Monday

In [18]:
type(day_2)

str

In [19]:
temp_2 = 70
humidity_2 = .7

In [20]:
print(temp_2)
print(humidity_2)

70
0.7

In [21]:
type(temp_2)
type(humidity_2)

float

In [22]:
whos

Variable     Type     Data/Info
-------------------------------
day          str      Monday
day_2        str      Monday
humidity     float    0.6
humidity_2   float    0.7
temp         int      63
temp_2       int      70

In [24]:
(temp + temp_2)/2

66.5

In [25]:
temp_2 = 80

In [26]:
print((temp + temp_2)/ 2)

71.5

In [27]:
avg_temp = (temp + temp_2) / 2

In [28]:
whos

Variable     Type     Data/Info
-------------------------------
avg_temp     float    71.5
day          str      Monday
day_2        str      Monday
humidity     float    0.6
humidity_2   float    0.7
temp         int      63
temp_2       int      80

In [30]:
print(avg_temp)

TypeError: 'float' object is not callable

In [31]:
print (temp + 5)

TypeError: 'float' object is not callable

In [32]:
avg_temp

71.5

In [33]:
avg_temp + 5

76.5

In [34]:
whos

Variable     Type     Data/Info
-------------------------------
avg_temp     float    71.5
day          str      Monday
day_2        str      Monday
humidity     float    0.6
humidity_2   float    0.7
print        float    71.5
temp         int      63
temp_2       int      80

In [35]:
print(avg_temp)

TypeError: 'float' object is not callable

In [36]:
print(temp)

TypeError: 'float' object is not callable

In [37]:
whos

Variable     Type     Data/Info
-------------------------------
avg_temp     float    71.5
day          str      Monday
day_2        str      Monday
humidity     float    0.6
humidity_2   float    0.7
print        float    71.5
temp         int      63
temp_2       int      80

In [38]:
#increase temp by 5 and temp_2 by 10 then print avg
#print them both in screen, then create new var average_temp
#print the average of temp and temp_2
print(temp1 = temp + 5)
print(temp2 = temp_2 + 10)

TypeError: 'float' object is not callable

In [39]:
temp + 5

68

In [42]:
temp_b = temp_2 + 10
print(temp_b)

TypeError: 'float' object is not callable

In [43]:
temp_a = temp + 5.5
print(temp_a)

TypeError: 'float' object is not callable

In [44]:
temp_a

68.5

In [45]:
temp_b

90

In [46]:
average_temp = (temp_a + temp_b) / 2

In [47]:
average_temp

79.25

In [48]:
#data types and types conversion
whos

NameError: name 'whos' is not defined

In [49]:
whos

Variable       Type     Data/Info
---------------------------------
average_temp   float    79.25
avg_temp       float    71.5
day            str      Monday
day_2          str      Monday
humidity       float    0.6
humidity_2     float    0.7
print          float    71.5
temp           int      63
temp_2         int      80
temp_a         float    68.5
temp_b         int      90

In [50]:
temp

63

In [51]:
temp + 5

68

In [52]:
str(temp) + " " + day

'63 Monday'

In [53]:
day_of_month = "22"

In [54]:
day_of_month

'22'

In [57]:
str(temp) + " " + (day_of_month)

'63 22'

In [58]:
print(day)
print(day_of_month)

TypeError: 'float' object is not callable

In [59]:
print(print)

TypeError: 'float' object is not callable

In [60]:
print(day_of_month)

TypeError: 'float' object is not callable

In [61]:
day
day_of_month

'22'

In [62]:
print(temp, day_of_month)

TypeError: 'float' object is not callable